@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);  /*الخط*/

*{ /* للتهيئه*/
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  direction: rtl;
  font-family: 'Droid Arabic Kufi', serif;
  -webkit-font-smoothing: antialiased;
}

html{
  --primary-color: #f7f7ee;
  --secondary-color: #996515 ;
  --Black: #111111;
}


#navBar{
  position: fixed;
  width: 100%;
  background-color: var(--Black);;
  opacity: 0.5;
  list-style: none;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
}

#logo{
  height: 60px;
  width: 95px;
 float: right;
 margin-right: 30px;
}

.navList .nav{
  margin: 0;
  padding: 0;
  display: inline-block;
 height: 60px;
 line-height: 60px;
 width: 7rem;
 text-align: center;
}


a {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  } a:hover{
  background-color: var(--primary-color);
  color: var(--Black);
 }

header{
  height: 800px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
  url("hh.gif");
  background-repeat:no-repeat;
  background-size: cover;
}

#firstpage{
  color: var(--primary-color);
  width: 100%;
  height: 700px;
  padding-top: 450px;
  padding-right: 100px;
  text-align: right;
  box-sizing: border-box;
}

#logo2{
  height: 350px;
  width: 500px;
  margin-right: 11cm;
}

/*typs*/
#typs{
  position: absolute;
  top:955px;
}
#kinds {
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  text-align: center;
  height: 500px;
  padding: 25px
}
.row{
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  margin-top: 20px;
}
.col-1{
  width: 45%;
  height: 410px;
  float: right;
  background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
   url("uu.jpg");
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  margin-right: 2.5%;
}.col-left{
  margin-left: 2%;
}

.col-2{
  width: 45%;
  height: 410px;
  float: right;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),  url("ee.webp");
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  margin-right: 2.5%;
}.col-left{
  margin-left: 2%;
}
.row h2{
  font-size: 30px;
}

.tut-footer{
  font-size: 20px;
  color: var(--primary-color);
  margin-top: 80px;
}
.tut-header{
  font-size: 27px;
  padding: 3px;
  font-weight: bold;
}
.col-2 .cta{
  position: absolute;
  float: right;
  margin-right: 130px;
}
.cta{
  display: block;
  width: 190px;
  height: 50px;
  margin: 30px;
  padding-top: 5px;
  background-color:#7a5111;
  color: white;
  font-size: 130%;
  box-shadow: 0 5px  black;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.08s;
}
.cta:hover{
background-color:#996515;
box-shadow: 1px 2px black;
color:white;
}
 .cta:active{
  box-shadow: 0px 0px grey;
  transform: translateY(5px);
}.cta a{
  color:white;
}

/* اعاده التدوير */
.row2{
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  margin-top: 20px;
}
.rec-1{
  width: 45%;
  height: 410px;
  float: right;
  background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url("compost.jpg"); /* صوره1*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  margin-right: 2.5%;
}.rec-left{
  margin-left: 2%;
}

.rec-2{
  width: 45%;
  height: 410px;
  float: right;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),  url("Insecticide.jpg "); /*صوره 2 */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  margin-right: 2.5%;
}.rec-left{
  margin-left: 2%;
}
.row2 h2{
  font-size: 30px;
  text-align: center;
}

.tut2-footer{
  font-size: 20px;
  text-align: center;
  color: var(--primary-color);
  margin-top: 80px;
}
.tut2-header{
  font-size: 27px;
  padding: 3px;
  font-weight: bold;
}
.rec-2 .cta{
  position: absolute;
  float: right;
  margin-right: 130px;
}
/* النباتات الداخلية والخارجية */
#fpage{
  height: 300px;
  width: 100%;
  text-align: center;
  background-image: url("mm.jpg");
  background-repeat:no-repeat;
  background-size: cover
}
.parag1 {
 padding: 20px;
 line-height: 1.9;
 font-size: 15px;
}
.Fer1{
  height: 480px;
  width: 100%;
  text-align: center;
}
.g1{
  width: 631px;
  height: 400px;
  float: left;
  background-color: white;
}
.g2 {
  width: 632px;
  height: 400px;
  padding: 15px;
  padding-top: 50px;
  padding-right: 50px;
  float: right;
  background-color: white;
}
.g2 h2 , .g3 h2 , .g4 h2 , .g5 h2 , .g6 h2 , .g7 h2 , .g8 h2{
  font-size: 38px;
  color :grey;
  background: -webkit-linear-gradient(#06623b, grey);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.g3 {
  width: 600px;
  height: 400px;
  padding: 15px;
  padding-top: 80px;
  float: left;
  padding-left: 50px;
  margin-left: 50px;
  background-color: white;
}
.g4 {
  width: 610px;
  height: 400px;
  padding: 15px;
  float: right;
  padding-right: 50px;
  margin-right: 20px;
  background-color: white;
}
.g5 {
  width: 612px;
  height: 400px;
  padding: 10px;
  float: left;
  padding-left: 50px;
  margin-left: 20px;
  background-color: white;
}
.g6 {
  width: 610px;
  height: 400px;
  padding: 15px;
  float: right;
  padding-right: 50px;
  margin-right: 20px;
  background-color: white;
}
.g7 {
  width: 612px;
  height: 400px;
  padding: 10px;
  float: left;
  padding-left: 50px;
  margin-left: 20px;
  background-color: white;
}
.g8{
  width: 610px;
  height: 400px;
  padding: 15px;
  float: right;
  padding-right: 50px;
  margin-right: 20px;
  background-color: white;
}

/*ماذا نزرع*/
#plant{
  position: absolute;
  top:500px;
} #plant1 {
  padding-right: 100px;
  padding-top: 70px;
  text-align: right;
  background-color: #e5e5e5;
  width: 100%;
  height: 450px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
  } #plant1 .oo{
    position: absolute;
    width: 750px;
    height: 165px;
    margin-bottom: 100px;
    margin-right: 500px;}

  .uu{
    position: absolute;
    margin-right: 21cm;
    margin-top: 2cm;
  }
  .uu1{
    position: absolute;
    margin-right: -30mm;
    margin-top: -47mm;
  }
  .plant-text{
  text-align: right;
  color: var(--Black);
  padding-top: 50px;
  line-height: 1;
  font-size: 25px;
}
/*المواسم*/
#seasons{
  width: 100%;
  height: 60px;
  padding-right: 100px;
  box-sizing: border-box;
}
.wh{
color: #555555;
text-align: center;
transition: 1s ease-in-out;
cursor: default;
}
.wh:hover{
  transform: scale(1.1);
  color: #212121;
}
.cards{
  width: 20%;
  height: 250px;
  float: right;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0,.40);
  border: 1px solid gray;
  border-radius: 20px;
  margin-right: 4%;
}
.cards-img{
width: 70%;
height: 60%;
cursor: grab;
transition: 1s ease-in-out;
object-position: center;
margin-right: 40px;
margin-top:20px;
object-fit: contain;
}
.cards-img:hover{
transform: scale(1.2);
}
.cards-footer{
color: #898b8a;
text-align: center;
font-size: 20px;
transition: ease-in-out;
cursor:default;
}
.cards-footer:hover{
color: #555555;
transform: scale(1.2);
}
/* اعاده التدوير */

/* داخل صفحه السماد */
#L1page{
  height: 650px;
  width:100%;
  background-color: #e5e5e5;
}
}
body{
   margin:0;
   padding:0;
   font-family: sans-serif;
}
.ferList{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 48vh;
 background: ;
 margin: 200px 1px 1px 0px;
 padding: 10px 4px 1px 100px;
}
.ferList .LFer{
 list-style: none;
 position: relative;
 width: 30%;
 height:100%;
 border-right: 1px solid #000;
 float: left;
 box-sizing: border-box;
 transition: 0.5s;
 text-align: center;
 overflow:hidden;
}
.ferList .LFer:nth-child(1)
{
 background: url(https://www.foochia.com/wp-content/uploads/2020/02/%D9%85%D8%B3%D8%AD%D9%88%D9%82-%D8%A7%D9%84%D9%82%D9%87%D9%88%D8%A9-%D8%B9%D9%84%D9%89-%D8%AA%D8%B1%D8%A8%D8%A9-%D8%A7%D9%84%D9%86%D8%A8%D8%A7%D8%AA%D8%A7%D8%AA..-%D9%85%D8%A7-%D8%AD%D9%82%D9%8A%D9%82%D8%A9-%D9%81%D9%88%D8%A7%D8%A6%D8%AF%D9%87%D8%9F.jpg);
 background-size:cover;
 background-position:left;
}
.ferList .LFer:nth-child(2)
{
 background: url(https://www.lamadreselva.com.ar/test/wp-content/uploads/2016/08/maceta_huevo.jpg);
 background-size:cover;
 background-position:left;
}
.ferList .LFer:nth-child(3)
{
 background: url(https://tomathouse.com/4/wp-content/uploads/2018/06/Zola-kak-udobrenie-17.jpg);
 background-size:cover;
 background-position:left;
}
.ferList:hover .LFer
{
 width:10%;
}
.ferList .LFer:hover
{
 width:60%;
}
.ferList .LFer .content{
 position :absolute;
 bottom:-100%;
 left:0;
 height:100%;
 width:100%;
 background:rgba(0,0,0,0.8);
 box-sizing:border-box;
 color:#fff;
 opacity:0;
 }
.ferList .LFer:hover .content{
 bottom:0;
 transition:0.5s;
 transition-delay:0.5s;
 opacity:.8;
}
#hFer{
 color:white;
 background: -webkit-linear-gradient(white, grey);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 font-size:30px;
 font-family: 'Droid Arabic Kufi', serif;
 }
#pFer{
 color:white;
 font-size:17px;
 font-family: 'Droid Arabic Kufi', serif;
 }
 /* داخل صفحه المبيد */
 #L2page{
   height: 650px;
   width:100%;
   background-color: #e5e5e5;
 }
 body{
    margin:0;
    padding:0;
    font-family: sans-serif;
 }
 .insList{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 48vh;
  background: ;
  margin: 200px 1px 1px 0px;
  padding: 10px 4px 1px 100px;
 }
 .insList .Lins{
  list-style: none;
  position: relative;
  width: 30%;
  height:100%;
  border-right: 1px solid #000;
  float: left;
  box-sizing: border-box;
  transition: 0.5s;
  text-align: center;
  overflow:hidden;
 }
 .insList .Lins:nth-child(1){
background: url("tomato.jpg");
  background-size:cover;
  background-position:left;
 }
 .insList .Lins:nth-child(2)
 {
  background: url("nsecticide.jpg");
  background-size:cover;
  background-position:left;
 }
 .insList .Lins:nth-child(3)
 {
  background: url("pepper.jpg");
  background-size:cover;
  background-position:left;
 }
 .insList:hover .Lins
 {
  width:10%;
 }
 .insList .Lins:hover
 {
  width:60%;
 }
 .insList .Lins .content{
  position :absolute;
  bottom:-100%;
  left:0;
  height:100%;
  width:100%;
  background:rgba(0,0,0,0.8);
  box-sizing:border-box;
  color:#fff;
  opacity:0;
  }
 .insList .Lins:hover .content{
  bottom:0;
  transition:0.5s;
  transition-delay:0.5s;
  opacity:.8;
 }
 #hins{
  color:white;
  background: -webkit-linear-gradient(white, grey);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:30px;
  font-family: 'Droid Arabic Kufi', serif;
  }
 #pins{
  color:white;
  font-size:17px;
  font-family: 'Droid Arabic Kufi', serif;
  }
  #location{
    position: absolute;
    top:500px;
  } #location1 {
    padding-right: 100px;
    padding-top: 70px;
    text-align: right;
    background-color: #e5e5e5;
    width: 100%;
    height: 450px;
    margin: 0 auto;
    margin-top: 510px;
    margin-bottom: 20px;
}
/* التطبيق */

#application{
  position: absolute;
  top:1820px;
}
#app{
  background-color: white;
  height: 400px;
  padding: 40px;
}
#vid{
  float: left;
  width:560px;
  min-height:315px;
}
#c3{
  position:static;
  text-align: center;
  right: 10%;
  margin-top: 30px;
}
.me .me1{
  float:right;
  right: 10%;
  padding: 10px;
  list-style-type: none;
  margin-top: 50px;
  margin-right: 10px;
  line-height: 40px;
}
.mee{
  position:absolute;
  right: 11%;
}
iframe{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
}
